@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  box-sizing: border-box;
  /* border: 1px solid red; */
}

body {
  font-family: "Spartan", sans-serif;
}

/* Entrance Page */
.entrance_page {
  height: 100vh;
  background-image: url("https://images.unsplash.com/photo-1542888743-a0323a8bd3df?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60");
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.entrance_page main {
  margin: 0;
  padding: 0;
  text-align: center;
  line-height: 5em;
  /* border: 2px solid gold; */
}

.hide {
  display: none;
}

.official_contents_wrapper {
  display: grid;
  grid-template-areas:
    "header"
    "main_content"
    "footer";
  grid-template-rows: 1fr 1fr 1fr;
}

/* Mobile header */
.header {
  /* size */
  width: 100vw;
  height: 8vh;
  /* General appearance */
  background-color: rgb(193, 235, 236);
  /* flex */
  display: flex;
  justify-content: center;
  align-items: center;
  /* grid */
  grid-area: header;
  position: fixed;
  top: 0;
}

.header_title_wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header_title_wrapper img {
  width: 2.5em;
}

.header_title_wrapper h1 {
  margin: 0;
  font-size: 2em;
  align-self: center;
}

/* https://css-tricks.com/building-resizeable-components-relative-css-units/ */
/* https://www.smashingmagazine.com/2019/08/bottom-navigation-pattern-mobile-web-pages/ */
/* https://www.w3schools.com/howto/howto_css_menu_icon.asp */

/* Mobile Footer Navbar */
.footer {
  grid-area: footer;
  position: sticky;
  bottom: 0;
  z-index: 1;
}

.mobile_footer_navbar {
  /* position */
  position: fixed;
  bottom: 0;
  /* general appearance */
  width: 100vw;
  height: 9vh;
  padding: 0 8px;
  background-color: rgb(190, 189, 189, 0.3);
  /* flex */
  display: flex;
  align-items: center;
  justify-content: center;
}

.mobile_footer_navbar div {
  flex: 1;
  text-align: center;
  /* border: 1px gold solid; */
}

.mobile_footer_navbar div a {
  text-decoration: none;
  font-size: 3.3vw;
  display: block;
  padding-top: 4px;
}

.mobile_footer_navbar div a:active {
  border-bottom: 2px solid blueviolet;
}

.mobile_footer_navbar div i {
  font-size: 7.5vw;
  display: block;
}

.mobile_footer_navbar div i:active {
  color: red;
}

/* https://developer.mozilla.org/en-US/docs/Web/CSS/:root */
/* set height variable */
/* :root {
  --header-height: 50vh;
  --footer-height: 9vh;
} */

/* Main Section */
.main_section {
  grid-area: main_content;
  position: fixed;
  top: 78px;
  bottom: 90px;
  overflow: scroll;
  /* border: 1px solid blue; */
  height: auto;
}

/* Below is how to limit scroll area */
/* https://stackoverflow.com/questions/10056583/fixed-header-footer-and-sidebars-with-scrolling-content-area-in-center */

/* Contact Me Section Reference */
/* https://www.w3schools.com/html/html_forms.asp */
