body {
	margin: 0;
	font-family: 'Spartan', sans-serif;
}

header{
	padding: 100px 100px;
	/*background: yellow;*/
	border-bottom: 3px dotted red;
}

header nav{
	/*background: blue;*/
	position: relative;
}

header nav div{
	/*background: red;*/
	display: inline-block;
	padding: 5px;
}

header nav div a{
	/*background: green;*/
	text-decoration: none;
	color: black;
	padding-bottom: 2px;
}

#navhome a{
	font-size: 38px;
}

#navhome a:hover{
	color: #0F52BA;
}

#navbar{
	position: absolute;
	right: 0;
	margin: 16px 0;
}

#navbar a{
	font-size: 17px;
	margin-left: 80px;
}

#navbar a:hover{
	color: #0F52BA;
	border-bottom: 1px solid #0F52BA;
}

main p {
	background: #F5D360;
	border-radius: 10px;
	text-align: center;
	font-size: 20px;
	width: 640px;
	margin: 0 0 60px 50px;
	padding: 5px 0;
}

main p a {
	text-decoration: none;
	vertical-align: middle;
	padding:0 2px;
	color:#0252DE;
}

main p a:hover{
	background: #FFDF11;
	border-radius: 10px;
	padding:8px 2px;
}

.afterintro {
	margin: 0 0 0 50px;
}

img {
	vertical-align: middle;
	margin: 0;
	padding: 0;
}

h2 {
	background-color: yellow;
	padding: 20px;
	margin-bottom: 10px;
}

section {
	background-color: rgba(0,0,0,0.1);
	width: 600px;
	height: 200px;
	border-radius: 20px;
}

.go_top_div {
	/*background: green;*/
	padding: 20px 100px;
	text-align: center;
}

.go_top_div a {
	/*background: blue;*/
	text-decoration: none;
	font-size:13px;
	color: black;
}

.go_top_div a:hover{
	color: #0F52BA;
}

.go_top_div img {
	vertical-align: bottom;
}

footer {
	background: yellow;
	border-top: 2px dotted red;
	padding: 25px 100px;
}

.copyright {
	/*background: blue;*/
	font-size: 11px;
	padding: 6px 0;
	float: left;
}

.contactinfo {
	/*background: blue;*/
	float: right;
}

.contactinfo a{
	/*background: red;*/
	margin: 13px;
}

.clearfix:after {
	visibility: hidden;
	display: block;
	content: " ";
	clear: both;
	height: 0;
	font-size: 0;
}
