body {
	margin: 0;
	font-family: 'Spartan', sans-serif;
}

.headernav {
	/*background: yellow;*/
	padding-top: 60px;
	text-align: right;
	font-size: 18px;
}

.headerlink {
	text-decoration: none;
	/*background: blue;*/
	margin: 0 70px 0 0;
	color: #FF5A1F;
}

.headline1 {
	/*background-color: yellow;*/
	margin: 50px 0 0 0;
	padding: 50px;
	color: black;
	font-size: 50px;
	font-weight: 500;
}

span {
	color: #FF5A1F;
	color: #F56422;
}

.contactlinks {
	color: purple;
	margin: 0 100px;
	padding: 0;
	text-decoration: none;
}

.intro {
	/*background: #FFCA10;*/
	font-size: 20px;
	width: 700px;
	margin: 0 0 60px 50px;
}

.afterintro {
	margin: 0 0 0 50px;
}

img {
	/*background: blue;*/
	vertical-align: middle;
	margin: 0;
	padding: 0;
}

.projectsection {
	background-color: rgba(0,0,0,0.1);
	width: 600px;
	height: 200px;
	border-radius: 20px;
}

.footernav {
	background: rgba(0,0,0,0.1);
	text-align: center;
	padding: 20px;
	margin-bottom: 50px;
}

footer {
	text-align: center;
	margin: 80px 0 50px 0;
}
